/* ======================================================
   ATLAS Frontend v1.0
   Base Styles
====================================================== */

/* Reset */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* HTML */

html{
    scroll-behavior:smooth;
}

/* Body */

body{

    width:100%;
    min-height:100vh;

    background:var(--bg-primary);

    color:var(--text-primary);

    font-family:'IBM Plex Sans Arabic',sans-serif;

    overflow:hidden;

    -webkit-font-smoothing:antialiased;

    -moz-osx-font-smoothing:grayscale;

}

/* Images */

img{

    display:block;

    max-width:100%;

}

/* Links */

a{

    text-decoration:none;

    color:inherit;

}

/* Buttons */

button{

    border:none;

    outline:none;

    cursor:pointer;

    font-family:inherit;

}

/* Inputs */

input,
textarea{

    border:none;

    outline:none;

    font-family:inherit;

}

/* Lists */

ul{

    list-style:none;

}